<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>App</title>
  </head>
  <body>
    
<form method="post">
    <p>
        <label>
            Név:
            <input type="text" name="telefonNev"><br>
        </label>
    </p>
    <p>
        <label>
            Tipus:
            <input type="text" name="telefonTipus"><br>
        </label>
    </p>
    <p>
        <lable>
            Szín:
            <input type="color" name="telefonSzin"><br>
        </lable>
    </p>
    <p>
        <lable>
            Ár:
            <input type="number" name="telefonAr"><br>
        </lable>
    </p>
    <p>
        <label>
            Akkumulátor állapota(%):
            <input type="number" name="telefonAksi"> <br>
        </label>
    </p>
    <p>
        <label>
            Állapot:
            <select name="telefonAllapot">
                <option value="uj">Új</option>
                <option value="ujszeru">Újszerű</option>
                <option value="karcos">Karcos</option>
          </select>

        </label>
          
      </p>
  
      <p>
        <input type="submit" value="OK">
      </p>
</form>

    
    

  </body>
</html>